@charset "utf-8";

.wrap{background: linear-gradient(#F3E2CE 80%, #f3dcc2);}

/* intro */
.index{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
}
.index > img{
    height: 100%;
}