@charset "utf-8";

/* intro */
.index{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
}
.index > img{height: 100%;}