@charset "utf-8";

/* intro */
.intro{
    width: 100%; height: 100vh;
    padding-bottom: 50px; box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* img */
.intro > figure{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 45vh;
    margin-bottom: 5em;
    opacity: 0;
}
.intro > figure > img{height: 100%;}

/* text_area */
.intro .text_area{
    line-height: 1.7;
    text-align: center;
}
.intro .text_area > p{
    font-size: 1.6em;
    margin-bottom: 2rem;
    opacity: 0;
}
.intro .text_area > p > span{font-weight: 600;}
.intro .text_area > .text2{margin-bottom: 3rem;}
.intro .text_area > .title{
    font-family: 'iceJaram-Rg', sans-serif;
    font-size: 4em;
    color:#F3B366;
}

/* a */
.intro > a{
    display: block;
    width: 16rem; height: 5rem;
    background: #F3B366;
    border-radius: 10rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
    opacity: 0;
}