@charset "UTF-8";

/* 500 이상 */


/* 768이상 */
@media screen and (min-width: 768px) {
    /* main */
    .main{height: calc(100vh - 7em);}

    /* cont */
    .top .title{font-size: 2.8rem;}
    .bottom .content{font-size: 1.7em;}
    .bottom .user{font-size: 1.8rem;}

    /* data */
    .bottom .data{
        font-size: 2.8rem;
        height: 4rem;
        line-height: 4rem;
        bottom: -10rem;
    }
    .cont .data::after{
        height: 4rem; width: 135%;
        left: 1rem;
    }
}

/* 900이상 */
@media screen and (min-width: 900px) {
    
}

/* 1024이상 */
@media screen and (min-width: 1024px) {
    /* main */
    .main{height: 100vh;}

    /* Dtitle_area */
    .Dtitle_area{height: 100vh;}
    .img_area > .cont_img{height: 70vh;}

    /* data */
    .bottom .data{bottom: -5rem;}
}

/* 1200이상 */
@media screen and (min-width: 1200px) {
    
}